# Try 2 - Model selection, XGBoost dataset top5

We created new csv-files that only contained the top columns in feature importance and the 'Saleprice'. We did three versions: top10, top12 and top15.

We decided to run each of the new csv-files through the same notebook in different copies to see how the number of columns we chose to keep impacted the R2-value.

After we ran those three, we decided to test if removing a few more columns gave a worse or better result.

This notebook will show the csv-file for top5.

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Importing the dataset

In [2]:
dataset = pd.read_csv('top5andprice.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]
dataset.head()

   1stFlrSF  TotalBsmtSF  2ndFlrSF  GrLivArea  OverallQual  Saleprice
0       856          856       854       1710            7     208500
1      1262         1262         0       1262            6     181500
2       920          920       866       1786            7     223500
3       961          756       756       1717            7     140000
4      1145         1145      1053       2198            8     250000

## Encoding categorical data

We can see below, that only one column has categorical data and must be one hot encoded.

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1stFlrSF     1460 non-null   int64
 1   TotalBsmtSF  1460 non-null   int64
 2   2ndFlrSF     1460 non-null   int64
 3   GrLivArea    1460 non-null   int64
 4   OverallQual  1460 non-null   int64
 5   Saleprice    1460 non-null   int64
dtypes: int64(6)
memory usage: 68.6 KB

### The onehot encoding of the columns

In [4]:
X = pd.get_dummies(X)
X.head(10)

   1stFlrSF  TotalBsmtSF  2ndFlrSF  GrLivArea  OverallQual
0       856          856       854       1710            7
1      1262         1262         0       1262            6
2       920          920       866       1786            7
3       961          756       756       1717            7
4      1145         1145      1053       2198            8
5       796          796       566       1362            5
6      1694         1686         0       1694            8
7      1107         1107       983       2090            7
8      1022          952       752       1774            7
9      1077          991         0       1077            5

In [5]:
X = X.values
y = y.values

# Model: XGBoost regression

## Splitting the dataset into the Training set and Test set

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

## Training the XGBoost regression model

In [7]:
from xgboost import XGBRegressor
#seed = 0 is default
regressor = XGBRegressor(seed = 0)
regressor.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=0, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

## Predicting the Test set results

In [8]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[184692.2  200624.  ]
 [147056.38 133000.  ]
 [120415.55 110000.  ]
 [244656.03 192000.  ]
 [ 99908.59  88000.  ]
 [120669.    85000.  ]
 [241481.92 282922.  ]
 [120260.79 141000.  ]
 [753204.62 745000.  ]
 [128320.17 148800.  ]
 [204954.42 208900.  ]
 [178102.67 136905.  ]
 [205253.14 225000.  ]
 [126899.56 123000.  ]
 [119773.02 119200.  ]
 [168331.5  145000.  ]
 [182283.09 190000.  ]
 [133141.38 123600.  ]
 [151956.95 149350.  ]
 [199446.89 155000.  ]
 [132827.81 166000.  ]
 [141679.03 144500.  ]
 [126547.14 110000.  ]
 [148320.67 174000.  ]
 [164985.03 185000.  ]
 [249115.31 168000.  ]
 [182858.86 177500.  ]
 [ 79079.2   84500.  ]
 [330363.44 320000.  ]
 [119110.68 118500.  ]
 [148379.78 110000.  ]
 [148914.19 213000.  ]
 [131513.69 156000.  ]
 [270582.22 250000.  ]
 [262672.81 372500.  ]
 [169824.17 175000.  ]
 [260685.75 277500.  ]
 [117835.2  112500.  ]
 [216811.   263000.  ]
 [318690.28 325000.  ]
 [238655.12 243000.  ]
 [121670.43 130000.  ]
 [205681.59 164990.  ]
 [276969.5  280000.  ]
 [336930.97 403000.  ]
 [152609.22 119000.  ]
 [121772.59 125000.  ]
 [125048.73 128200.  ]
 [154416.31 172500.  ]
 [103391.41  84900.  ]
 [372744.03 412500.  ]
 [126651.98 156000.  ]
 [170486.88 167900.  ]
 [ 60944.91 100000.  ]
 [238625.03 275000.  ]
 [110666.73 123000.  ]
 [140445.86 132000.  ]
 [227203.39 239900.  ]
 [147819.88 139000.  ]
 [ 84061.3  115000.  ]
 [142616.95 137500.  ]
 [130234.41 135000.  ]
 [153004.67 134450.  ]
 [144128.77 180500.  ]
 [203390.69 193500.  ]
 [193573.69 156500.  ]
 [121334.03 132000.  ]
 [172613.38 224500.  ]
 [111074.74 139000.  ]
 [196242.98 225000.  ]
 [167175.17 188500.  ]
 [129419.32 118000.  ]
 [ 91943.77  82000.  ]
 [216796.   392000.  ]
 [110780.13 112000.  ]
 [282241.62 248900.  ]
 [131017.32 134500.  ]
 [114792.34  79500.  ]
 [277563.66 320000.  ]
 [159355.8  158000.  ]
 [125208.19 140000.  ]
 [119494.18 136500.  ]
 [141088.69 107500.  ]
 [138178.55 145000.  ]
 [250351.8  200500.  ]
 [181257.77 185000.  ]
 [ 84519.08 105000.  ]
 [199870.89 202665.  ]
 [160174.95 186000.  ]
 [119773.02 136000.  ]
 [165432.94 200500.  ]
 [188049.39 190000.  ]
 [153504.69 187500.  ]
 [214036.27 200000.  ]
 [172597.92 172500.  ]
 [151717.77 157000.  ]
 [213568.47 213000.  ]
 [150634.81 185000.  ]
 [112595.77 124500.  ]
 [136096.3  162900.  ]
 [276679.41 260000.  ]
 [197701.44 198500.  ]
 [102013.27 120000.  ]
 [143432.67 159500.  ]
 [107199.95 105900.  ]
 [346242.97 260000.  ]
 [129514.07 143000.  ]
 [119152.76 106500.  ]
 [153688.25 178900.  ]
 [134562.8  127000.  ]
 [ 76948.17  90350.  ]
 [123209.62 118500.  ]
 [212685.72 190000.  ]
 [115611.33 119900.  ]
 [174444.53 183900.  ]
 [164431.88 155000.  ]
 [602098.75 386250.  ]
 [135000.09 133000.  ]
 [186391.89 193500.  ]
 [268789.66 270000.  ]
 [132751.5  141000.  ]
 [155741.73 146000.  ]
 [138178.55 128500.  ]
 [206956.31 176000.  ]
 [208081.02 214000.  ]
 [202225.08 222000.  ]
 [418978.41 415298.  ]
 [170909.42 187750.  ]
 [175204.5  199900.  ]
 [160814.77 180000.  ]
 [194867.86 206300.  ]
 [174082.59 194000.  ]
 [172813.47 142953.  ]
 [160954.7  182900.  ]
 [112595.77 116050.  ]
 [240067.19 213250.  ]
 [136712.66 139500.  ]
 [201469.39 179000.  ]
 [111376.16 107900.  ]
 [172703.25 175900.  ]
 [153732.62 158500.  ]
 [112562.82 145000.  ]
 [206740.75 217000.  ]
 [135000.09 150500.  ]
 [146370.38 108959.  ]
 [165575.   165600.  ]
 [233061.75 201000.  ]
 [138715.72 145500.  ]
 [362727.22 319900.  ]
 [230251.14 215000.  ]
 [173500.75 180500.  ]
 [328731.38 367294.  ]
 [370112.06 239000.  ]
 [165659.66 145900.  ]
 [142750.3  161000.  ]
 [287433.94 250000.  ]
 [127132.1   89471.  ]
 [211534.98 230000.  ]
 [147819.88 147000.  ]
 [158190.8  163900.  ]
 [112595.77  97000.  ]
 [151559.64 142000.  ]
 [196982.44 197000.  ]
 [103956.48 129000.  ]
 [247669.75 232000.  ]
 [138216.36 115000.  ]
 [120438.77 175000.  ]
 [294830.25 265000.  ]
 [209207.23 207000.  ]
 [159589.33 181000.  ]
 [177314.86 176000.  ]
 [160527.11 171000.  ]
 [186721.09 196000.  ]
 [163546.73 176000.  ]
 [138178.55 113000.  ]
 [ 82373.88 139000.  ]
 [126151.75 135000.  ]
 [235119.52 240000.  ]
 [123220.62 112000.  ]
 [125078.54 134000.  ]
 [293123.53 316600.  ]
 [193806.77 170000.  ]
 [133716.2  116000.  ]
 [266594.97 306000.  ]
 [110666.73  82500.  ]
 [171279.64 175000.  ]
 [ 95406.96 106000.  ]
 [178036.39 194000.  ]
 [170808.97 194201.  ]
 [141679.03 155900.  ]
 [138178.55 138000.  ]
 [168713.56 177000.  ]
 [241100.81 214000.  ]
 [125954.49 148000.  ]
 [ 97903.77 127000.  ]
 [147337.48 142500.  ]
 [ 79079.2   80000.  ]
 [146310.52 145000.  ]
 [182869.67 171000.  ]
 [126571.1  122500.  ]
 [147536.69 139000.  ]
 [204683.41 189000.  ]
 [119733.58 120500.  ]
 [135000.09 124000.  ]
 [131779.3  160000.  ]
 [184353.88 200000.  ]
 [151717.77 160000.  ]
 [342622.97 313000.  ]
 [245917.75 275000.  ]
 [ 66258.52  67000.  ]
 [147819.88 159000.  ]
 [309463.38 251000.  ]
 [ 89545.16  92900.  ]
 [ 81514.3  109500.  ]
 [307718.09 385000.  ]
 [213477.69 129000.  ]
 [194009.33  82500.  ]
 [295158.41 301000.  ]
 [262710.12 249700.  ]
 [ 79079.2   81000.  ]
 [201266.73 187500.  ]
 [161641.33 110000.  ]
 [156822.19 117000.  ]
 [119494.18 128500.  ]
 [206587.75 213490.  ]
 [241783.59 284000.  ]
 [267291.5  230500.  ]
 [226217.22 190000.  ]
 [133358.59 135000.  ]
 [186071.   152000.  ]
 [ 89545.16  87500.  ]
 [109269.75 155000.  ]
 [112595.77 115000.  ]
 [141038.61 144000.  ]
 [215616.06 248000.  ]
 [139598.09 132500.  ]
 [191833.95 136000.  ]
 [113141.77 117000.  ]
 [120156.11  82000.  ]
 [193573.69 157500.  ]
 [138574.86 110000.  ]
 [188420.75 181000.  ]
 [193981.2  192500.  ]
 [194864.72 223500.  ]
 [174932.53 181500.  ]
 [188316.84 170000.  ]
 [221335.92 187500.  ]
 [184023.89 185900.  ]
 [123650.1  160000.  ]
 [192278.95 192000.  ]
 [164634.16 181900.  ]
 [262806.69 266000.  ]
 [119494.18  99900.  ]
 [437383.38 438780.  ]
 [224930.67 229456.  ]
 [277408.09 216837.  ]
 [ 99183.53 110500.  ]
 [212400.75 175900.  ]
 [381040.47 538000.  ]
 [218296.66 160000.  ]
 [217300.14 172500.  ]
 [126255.23 108000.  ]
 [163726.33 131500.  ]
 [ 87497.26 106250.  ]
 [470725.41 385000.  ]
 [372449.25 370878.  ]
 [368830.28 345000.  ]
 [ 65336.24  68500.  ]
 [222501.11 250000.  ]
 [313870.22 245350.  ]
 [131648.44 125000.  ]
 [205187.12 234000.  ]
 [131580.91 145000.  ]
 [189717.16 181000.  ]
 [143924.81 104000.  ]
 [219529.42 233000.  ]
 [164930.33 164000.  ]
 [201806.23 219500.  ]
 [226602.58 195000.  ]
 [105386.2  108000.  ]
 [125048.73 149900.  ]
 [438525.59 315000.  ]
 [174830.73 177500.  ]
 [140869.52 140000.  ]
 [197064.16 193879.  ]
 [158193.22 137900.  ]
 [106067.51 118000.  ]
 [293903.88 324000.  ]
 [599528.44 555000.  ]
 [173244.52 136000.  ]
 [ 59880.95  82500.  ]
 [ 76964.39 101000.  ]]

## Evaluating the Model Performance

In [9]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8243776040452636