# Try 2 - Model selection, XGBoost dataset top12

We created new csv-files that only contained the top columns in feature importance and the 'Saleprice'. We did three versions: top10, top12 and top15.

We decided to run each of the new csv-files through the same notebook in different copies to see how the number of columns we chose to keep impacted the R2-value.

This notebook will show the csv-file for top12.

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Importing the dataset

In [2]:
dataset = pd.read_csv('top12andprice.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]
dataset.head()

,LotArea,MSZoning,TotRmsAbvGrd,YearBuilt,LandContour,BsmtFinSF1,GarageCars,1stFlrSF,TotalBsmtSF,2ndFlrSF,GrLivArea,OverallQual,Saleprice
0,8450,RL,8,2003,Lvl,706,2,856,856,854,1710,7,208500
1,9600,RL,6,1976,Lvl,978,2,1262,1262,0,1262,6,181500
2,11250,RL,6,2001,Lvl,486,2,920,920,866,1786,7,223500
3,9550,RL,7,1915,Lvl,216,3,961,756,756,1717,7,140000
4,14260,RL,9,2000,Lvl,655,3,1145,1145,1053,2198,8,250000

## Encoding categorical data

We can see below, that 2 of the column have categorical data and must be one hot encoded

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   MSZoning      1460 non-null   object
 2   TotRmsAbvGrd  1460 non-null   int64
 3   YearBuilt     1460 non-null   int64
 4   LandContour   1460 non-null   object
 5   BsmtFinSF1    1460 non-null   int64
 6   GarageCars    1460 non-null   int64
 7   1stFlrSF      1460 non-null   int64
 8   TotalBsmtSF   1460 non-null   int64
 9   2ndFlrSF      1460 non-null   int64
 10  GrLivArea     1460 non-null   int64
 11  OverallQual   1460 non-null   int64
 12  Saleprice     1460 non-null   int64
dtypes: int64(11), object(2)
memory usage: 148.4+ KB

### The onehot encoding of the columns

In [4]:
X = pd.get_dummies(X)
X.head(10)

,LotArea,TotRmsAbvGrd,YearBuilt,BsmtFinSF1,GarageCars,1stFlrSF,TotalBsmtSF,2ndFlrSF,GrLivArea,OverallQual,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl
0,8450,8,2003,706,2,856,856,854,1710,7,0,0,0,1,0,0,0,0,1
1,9600,6,1976,978,2,1262,1262,0,1262,6,0,0,0,1,0,0,0,0,1
2,11250,6,2001,486,2,920,920,866,1786,7,0,0,0,1,0,0,0,0,1
3,9550,7,1915,216,3,961,756,756,1717,7,0,0,0,1,0,0,0,0,1
4,14260,9,2000,655,3,1145,1145,1053,2198,8,0,0,0,1,0,0,0,0,1
5,14115,5,1993,732,2,796,796,566,1362,5,0,0,0,1,0,0,0,0,1
6,10084,7,2004,1369,2,1694,1686,0,1694,8,0,0,0,1,0,0,0,0,1
7,10382,7,1973,859,2,1107,1107,983,2090,7,0,0,0,1,0,0,0,0,1
8,6120,8,1931,0,2,1022,952,752,1774,7,0,0,0,0,1,0,0,0,1
9,7420,5,1939,851,1,1077,991,0,1077,5,0,0,0,1,0,0,0,0,1

In [5]:
X = X.values
y = y.values

# Model: XGBoost regression

## Splitting the dataset into the Training set and Test set

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

## Training the XGBoost regression model

In [7]:
from xgboost import XGBRegressor
#seed = 0 is default
regressor = XGBRegressor(seed = 0)
regressor.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=0, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

## Predicting the Test set results

In [8]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[237428.5  200624.  ]
 [141992.33 133000.  ]
 [131754.45 110000.  ]
 [209536.81 192000.  ]
 [ 88042.44  88000.  ]
 [ 97214.51  85000.  ]
 [256837.02 282922.  ]
 [118987.96 141000.  ]
 [704263.69 745000.  ]
 [164763.02 148800.  ]
 [214935.52 208900.  ]
 [142625.64 136905.  ]
 [223379.53 225000.  ]
 [118063.73 123000.  ]
 [144837.27 119200.  ]
 [147207.36 145000.  ]
 [203694.67 190000.  ]
 [116519.71 123600.  ]
 [119084.62 149350.  ]
 [185331.7  155000.  ]
 [143144.62 166000.  ]
 [145573.16 144500.  ]
 [109781.05 110000.  ]
 [173763.08 174000.  ]
 [176784.89 185000.  ]
 [149005.8  168000.  ]
 [177795.98 177500.  ]
 [ 71715.73  84500.  ]
 [340494.81 320000.  ]
 [116585.62 118500.  ]
 [139620.77 110000.  ]
 [190911.67 213000.  ]
 [144300.   156000.  ]
 [291510.16 250000.  ]
 [267326.41 372500.  ]
 [172026.48 175000.  ]
 [278281.78 277500.  ]
 [130753.86 112500.  ]
 [229289.67 263000.  ]
 [297611.38 325000.  ]
 [237772.2  243000.  ]
 [129125.66 130000.  ]
 [182958.58 164990.  ]
 [272591.34 280000.  ]
 [321144.78 403000.  ]
 [127927.24 119000.  ]
 [110535.09 125000.  ]
 [121820.48 128200.  ]
 [163301.47 172500.  ]
 [ 81900.59  84900.  ]
 [348922.22 412500.  ]
 [141854.91 156000.  ]
 [164954.59 167900.  ]
 [ 81682.84 100000.  ]
 [263568.53 275000.  ]
 [ 93956.98 123000.  ]
 [142538.88 132000.  ]
 [255697.06 239900.  ]
 [152214.55 139000.  ]
 [100835.86 115000.  ]
 [145393.2  137500.  ]
 [132231.92 135000.  ]
 [142356.45 134450.  ]
 [151701.23 180500.  ]
 [194283.88 193500.  ]
 [183247.34 156500.  ]
 [147595.   132000.  ]
 [225164.33 224500.  ]
 [ 89762.73 139000.  ]
 [204359.06 225000.  ]
 [173310.56 188500.  ]
 [119469.21 118000.  ]
 [106617.52  82000.  ]
 [242506.34 392000.  ]
 [100399.17 112000.  ]
 [275550.31 248900.  ]
 [130906.12 134500.  ]
 [ 94807.48  79500.  ]
 [290075.44 320000.  ]
 [150857.66 158000.  ]
 [134455.77 140000.  ]
 [130981.01 136500.  ]
 [121215.83 107500.  ]
 [150440.3  145000.  ]
 [189902.84 200500.  ]
 [193624.73 185000.  ]
 [ 96318.84 105000.  ]
 [199583.69 202665.  ]
 [194567.47 186000.  ]
 [137809.38 136000.  ]
 [193542.2  200500.  ]
 [198548.14 190000.  ]
 [173376.8  187500.  ]
 [229015.77 200000.  ]
 [166315.39 172500.  ]
 [145281.97 157000.  ]
 [217064.89 213000.  ]
 [191666.94 185000.  ]
 [106332.91 124500.  ]
 [139954.61 162900.  ]
 [260956.61 260000.  ]
 [202652.28 198500.  ]
 [ 80390.05 120000.  ]
 [167023.19 159500.  ]
 [ 95032.54 105900.  ]
 [292259.62 260000.  ]
 [152544.25 143000.  ]
 [104813.7  106500.  ]
 [167011.22 178900.  ]
 [107314.9  127000.  ]
 [ 89663.63  90350.  ]
 [127868.32 118500.  ]
 [230569.97 190000.  ]
 [116316.05 119900.  ]
 [166900.89 183900.  ]
 [154235.12 155000.  ]
 [426089.5  386250.  ]
 [128225.08 133000.  ]
 [211151.22 193500.  ]
 [272012.16 270000.  ]
 [156728.69 141000.  ]
 [162613.92 146000.  ]
 [138956.48 128500.  ]
 [214806.   176000.  ]
 [242756.52 214000.  ]
 [239441.36 222000.  ]
 [362027.66 415298.  ]
 [183741.77 187750.  ]
 [199198.91 199900.  ]
 [170466.27 180000.  ]
 [162332.42 206300.  ]
 [186804.27 194000.  ]
 [148356.17 142953.  ]
 [178942.7  182900.  ]
 [114629.41 116050.  ]
 [218635.06 213250.  ]
 [129326.08 139500.  ]
 [202422.33 179000.  ]
 [ 98658.92 107900.  ]
 [177925.2  175900.  ]
 [143918.8  158500.  ]
 [134263.98 145000.  ]
 [220888.23 217000.  ]
 [139499.14 150500.  ]
 [173868.61 108959.  ]
 [196258.8  165600.  ]
 [231126.62 201000.  ]
 [135970.78 145500.  ]
 [277773.22 319900.  ]
 [245535.08 215000.  ]
 [172981.14 180500.  ]
 [386075.91 367294.  ]
 [258128.59 239000.  ]
 [169466.08 145900.  ]
 [190572.28 161000.  ]
 [261883.91 250000.  ]
 [106390.02  89471.  ]
 [190626.61 230000.  ]
 [137936.39 147000.  ]
 [166736.44 163900.  ]
 [118060.64  97000.  ]
 [155754.61 142000.  ]
 [193468.67 197000.  ]
 [110776.79 129000.  ]
 [228194.23 232000.  ]
 [124779.29 115000.  ]
 [145986.61 175000.  ]
 [289159.03 265000.  ]
 [198282.17 207000.  ]
 [180668.17 181000.  ]
 [184115.86 176000.  ]
 [163585.89 171000.  ]
 [181905.98 196000.  ]
 [156252.06 176000.  ]
 [157274.92 113000.  ]
 [113939.86 139000.  ]
 [131810.89 135000.  ]
 [262228.12 240000.  ]
 [110311.73 112000.  ]
 [155420.55 134000.  ]
 [281183.75 316600.  ]
 [173637.08 170000.  ]
 [ 96236.9  116000.  ]
 [328743.5  306000.  ]
 [115056.73  82500.  ]
 [180986.84 175000.  ]
 [ 86101.72 106000.  ]
 [198546.84 194000.  ]
 [165519.23 194201.  ]
 [141750.92 155900.  ]
 [143656.39 138000.  ]
 [151102.16 177000.  ]
 [203327.3  214000.  ]
 [142280.36 148000.  ]
 [119819.44 127000.  ]
 [152796.98 142500.  ]
 [ 85899.29  80000.  ]
 [141626.31 145000.  ]
 [173305.39 171000.  ]
 [128588.57 122500.  ]
 [137172.28 139000.  ]
 [182405.19 189000.  ]
 [108430.27 120500.  ]
 [120314.85 124000.  ]
 [105412.16 160000.  ]
 [191780.44 200000.  ]
 [145362.42 160000.  ]
 [333772.88 313000.  ]
 [241173.25 275000.  ]
 [ 38015.31  67000.  ]
 [164526.44 159000.  ]
 [282695.56 251000.  ]
 [ 92480.86  92900.  ]
 [ 95348.64 109500.  ]
 [335432.34 385000.  ]
 [248065.06 129000.  ]
 [187583.41  82500.  ]
 [283800.16 301000.  ]
 [264565.59 249700.  ]
 [ 78532.38  81000.  ]
 [185255.16 187500.  ]
 [164062.17 110000.  ]
 [126179.73 117000.  ]
 [119713.23 128500.  ]
 [191843.91 213490.  ]
 [255422.78 284000.  ]
 [240691.62 230500.  ]
 [252637.98 190000.  ]
 [132100.67 135000.  ]
 [163609.38 152000.  ]
 [ 92480.86  87500.  ]
 [134500.41 155000.  ]
 [ 91368.57 115000.  ]
 [139847.14 144000.  ]
 [253185.58 248000.  ]
 [117276.56 132500.  ]
 [136519.06 136000.  ]
 [120648.54 117000.  ]
 [ 86098.77  82000.  ]
 [192814.56 157500.  ]
 [119781.47 110000.  ]
 [194726.78 181000.  ]
 [203928.36 192500.  ]
 [215741.64 223500.  ]
 [165689.17 181500.  ]
 [182709.98 170000.  ]
 [218527.7  187500.  ]
 [189185.   185900.  ]
 [117426.37 160000.  ]
 [203534.53 192000.  ]
 [175773.69 181900.  ]
 [273931.16 266000.  ]
 [ 85364.97  99900.  ]
 [455274.88 438780.  ]
 [252241.28 229456.  ]
 [204685.72 216837.  ]
 [ 89055.39 110500.  ]
 [223722.53 175900.  ]
 [324502.94 538000.  ]
 [183204.75 160000.  ]
 [222490.5  172500.  ]
 [126231.67 108000.  ]
 [132559.77 131500.  ]
 [ 90501.83 106250.  ]
 [472251.22 385000.  ]
 [344788.44 370878.  ]
 [354601.19 345000.  ]
 [ 53464.89  68500.  ]
 [210685.02 250000.  ]
 [311602.78 245350.  ]
 [127105.12 125000.  ]
 [199303.84 234000.  ]
 [138067.64 145000.  ]
 [199835.11 181000.  ]
 [109611.16 104000.  ]
 [234247.77 233000.  ]
 [223827.7  164000.  ]
 [218823.11 219500.  ]
 [232610.56 195000.  ]
 [ 92907.25 108000.  ]
 [135391.83 149900.  ]
 [403879.88 315000.  ]
 [157283.14 177500.  ]
 [144147.23 140000.  ]
 [182147.89 193879.  ]
 [191751.77 137900.  ]
 [111837.15 118000.  ]
 [294883.59 324000.  ]
 [596618.75 555000.  ]
 [137857.47 136000.  ]
 [ 79792.66  82500.  ]
 [ 60316.75 101000.  ]]

## Evaluating the Model Performance

In [9]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8728539932453862