# Try 2 - Model selection, XGBoost dataset top15

We created new csv-files that only contained the top columns in feature importance and the 'Saleprice'. 
We did three versions: top10, top12 and top15.

We decided to run each of the new csv-files through the same notebook in different copies to see how the number of columns we chose to keep impacted the R2-value.

This notebook will show the csv-file for top15.

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Importing the dataset

In [2]:
dataset = pd.read_csv('top15andprice.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]
dataset.head()

,YearRemodAdd,OverallCond,BsmtQual,LotArea,MSZoning,TotRmsAbvGrd,YearBuilt,LandContour,BsmtFinSF1,GarageCars,1stFlrSF,TotalBsmtSF,2ndFlrSF,GrLivArea,OverallQual,Saleprice
0,2003,5,Gd,8450,RL,8,2003,Lvl,706,2,856,856,854,1710,7,208500
1,1976,8,Gd,9600,RL,6,1976,Lvl,978,2,1262,1262,0,1262,6,181500
2,2002,5,Gd,11250,RL,6,2001,Lvl,486,2,920,920,866,1786,7,223500
3,1970,5,TA,9550,RL,7,1915,Lvl,216,3,961,756,756,1717,7,140000
4,2000,5,Gd,14260,RL,9,2000,Lvl,655,3,1145,1145,1053,2198,8,250000

## Encoding categorical data

We can see below, that 3 of the columns have categorical data and must be one hot encoded.

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   YearRemodAdd  1460 non-null   int64
 1   OverallCond   1460 non-null   int64
 2   BsmtQual      1423 non-null   object
 3   LotArea       1460 non-null   int64
 4   MSZoning      1460 non-null   object
 5   TotRmsAbvGrd  1460 non-null   int64
 6   YearBuilt     1460 non-null   int64
 7   LandContour   1460 non-null   object
 8   BsmtFinSF1    1460 non-null   int64
 9   GarageCars    1460 non-null   int64
 10  1stFlrSF      1460 non-null   int64
 11  TotalBsmtSF   1460 non-null   int64
 12  2ndFlrSF      1460 non-null   int64
 13  GrLivArea     1460 non-null   int64
 14  OverallQual   1460 non-null   int64
 15  Saleprice     1460 non-null   int64
dtypes: int64(13), object(3)
memory usage: 182.6+ KB

### The onehot encoding of the columns

In [4]:
X = pd.get_dummies(X)
X.head(10)

,YearRemodAdd,OverallCond,LotArea,TotRmsAbvGrd,YearBuilt,BsmtFinSF1,GarageCars,1stFlrSF,TotalBsmtSF,2ndFlrSF,...,BsmtQual_TA,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl
0,2003,5,8450,8,2003,706,2,856,856,854,...,0,0,0,0,1,0,0,0,0,1
1,1976,8,9600,6,1976,978,2,1262,1262,0,...,0,0,0,0,1,0,0,0,0,1
2,2002,5,11250,6,2001,486,2,920,920,866,...,0,0,0,0,1,0,0,0,0,1
3,1970,5,9550,7,1915,216,3,961,756,756,...,1,0,0,0,1,0,0,0,0,1
4,2000,5,14260,9,2000,655,3,1145,1145,1053,...,0,0,0,0,1,0,0,0,0,1
5,1995,5,14115,5,1993,732,2,796,796,566,...,0,0,0,0,1,0,0,0,0,1
6,2005,5,10084,7,2004,1369,2,1694,1686,0,...,0,0,0,0,1,0,0,0,0,1
7,1973,6,10382,7,1973,859,2,1107,1107,983,...,0,0,0,0,1,0,0,0,0,1
8,1950,5,6120,8,1931,0,2,1022,952,752,...,1,0,0,0,0,1,0,0,0,1
9,1950,6,7420,5,1939,851,1,1077,991,0,...,1,0,0,0,1,0,0,0,0,1

In [5]:
X = X.values
y = y.values

# Model: XGBoost regression

## Splitting the dataset into the Training set and Test set

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state= 0)

## Training the XGBoost regression model

In [7]:
from xgboost import XGBRegressor
#seed = 0 is default
regressor = XGBRegressor(seed = 0)
regressor.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=0, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

## Predicting the Test set results

In [8]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[194987.98 200624.  ]
 [144900.7  133000.  ]
 [103928.05 110000.  ]
 [202115.02 192000.  ]
 [ 83277.31  88000.  ]
 [ 81643.23  85000.  ]
 [254296.   282922.  ]
 [122497.67 141000.  ]
 [721684.38 745000.  ]
 [152616.72 148800.  ]
 [174471.2  208900.  ]
 [155370.28 136905.  ]
 [226463.73 225000.  ]
 [119197.67 123000.  ]
 [140856.53 119200.  ]
 [139740.08 145000.  ]
 [201286.03 190000.  ]
 [122232.5  123600.  ]
 [130949.71 149350.  ]
 [202103.61 155000.  ]
 [135043.22 166000.  ]
 [144899.81 144500.  ]
 [108221.31 110000.  ]
 [170863.33 174000.  ]
 [177146.73 185000.  ]
 [129176.41 168000.  ]
 [174406.67 177500.  ]
 [ 69404.24  84500.  ]
 [365272.09 320000.  ]
 [116556.85 118500.  ]
 [139712.   110000.  ]
 [192347.03 213000.  ]
 [139353.53 156000.  ]
 [292970.34 250000.  ]
 [256478.73 372500.  ]
 [170105.81 175000.  ]
 [288171.22 277500.  ]
 [113773.29 112500.  ]
 [221307.42 263000.  ]
 [326367.94 325000.  ]
 [232151.62 243000.  ]
 [129666.88 130000.  ]
 [182077.   164990.  ]
 [283675.44 280000.  ]
 [336211.62 403000.  ]
 [123866.44 119000.  ]
 [124880.55 125000.  ]
 [132519.75 128200.  ]
 [150362.5  172500.  ]
 [ 87173.34  84900.  ]
 [413665.44 412500.  ]
 [144006.23 156000.  ]
 [165124.72 167900.  ]
 [ 81089.22 100000.  ]
 [232578.83 275000.  ]
 [109339.33 123000.  ]
 [143780.59 132000.  ]
 [248061.7  239900.  ]
 [146863.83 139000.  ]
 [ 88523.4  115000.  ]
 [142340.97 137500.  ]
 [129857.73 135000.  ]
 [139195.3  134450.  ]
 [156950.02 180500.  ]
 [194718.17 193500.  ]
 [134706.16 156500.  ]
 [145163.34 132000.  ]
 [233761.5  224500.  ]
 [115603.7  139000.  ]
 [206398.48 225000.  ]
 [184100.12 188500.  ]
 [117414.97 118000.  ]
 [ 83512.33  82000.  ]
 [253610.34 392000.  ]
 [ 90240.14 112000.  ]
 [263753.28 248900.  ]
 [121588.98 134500.  ]
 [105097.29  79500.  ]
 [285655.69 320000.  ]
 [157745.19 158000.  ]
 [124536.27 140000.  ]
 [127593.39 136500.  ]
 [125241.13 107500.  ]
 [144086.88 145000.  ]
 [210240.17 200500.  ]
 [193968.52 185000.  ]
 [101484.55 105000.  ]
 [200732.78 202665.  ]
 [188309.23 186000.  ]
 [138817.72 136000.  ]
 [188101.34 200500.  ]
 [187985.81 190000.  ]
 [195836.53 187500.  ]
 [229651.39 200000.  ]
 [141223.69 172500.  ]
 [149159.75 157000.  ]
 [216889.19 213000.  ]
 [218853.28 185000.  ]
 [121732.33 124500.  ]
 [144668.09 162900.  ]
 [261107.34 260000.  ]
 [201583.34 198500.  ]
 [106673.05 120000.  ]
 [170291.81 159500.  ]
 [106197.15 105900.  ]
 [273188.44 260000.  ]
 [167531.83 143000.  ]
 [118182.41 106500.  ]
 [169682.23 178900.  ]
 [118578.33 127000.  ]
 [ 97418.48  90350.  ]
 [125129.62 118500.  ]
 [210483.09 190000.  ]
 [111843.77 119900.  ]
 [161699.22 183900.  ]
 [149644.8  155000.  ]
 [373403.47 386250.  ]
 [129510.16 133000.  ]
 [199230.2  193500.  ]
 [264354.94 270000.  ]
 [161597.52 141000.  ]
 [172611.12 146000.  ]
 [133562.23 128500.  ]
 [201702.22 176000.  ]
 [233277.03 214000.  ]
 [230905.42 222000.  ]
 [330890.31 415298.  ]
 [192760.59 187750.  ]
 [201824.86 199900.  ]
 [155787.17 180000.  ]
 [174383.92 206300.  ]
 [187994.12 194000.  ]
 [119812.02 142953.  ]
 [195598.89 182900.  ]
 [ 95951.41 116050.  ]
 [231023.2  213250.  ]
 [135454.22 139500.  ]
 [192354.45 179000.  ]
 [116338.34 107900.  ]
 [180293.36 175900.  ]
 [154847.95 158500.  ]
 [139419.55 145000.  ]
 [194315.12 217000.  ]
 [141618.92 150500.  ]
 [181139.05 108959.  ]
 [185582.41 165600.  ]
 [244567.27 201000.  ]
 [144539.59 145500.  ]
 [271958.44 319900.  ]
 [233689.45 215000.  ]
 [159397.72 180500.  ]
 [388759.19 367294.  ]
 [230824.56 239000.  ]
 [162271.69 145900.  ]
 [187528.72 161000.  ]
 [280857.97 250000.  ]
 [119293.27  89471.  ]
 [177747.81 230000.  ]
 [122010.85 147000.  ]
 [163168.11 163900.  ]
 [122317.97  97000.  ]
 [161554.53 142000.  ]
 [190288.3  197000.  ]
 [110913.72 129000.  ]
 [235448.31 232000.  ]
 [126197.48 115000.  ]
 [170544.14 175000.  ]
 [277560.59 265000.  ]
 [189686.92 207000.  ]
 [173481.08 181000.  ]
 [183978.75 176000.  ]
 [171134.64 171000.  ]
 [179256.73 196000.  ]
 [173661.45 176000.  ]
 [148669.06 113000.  ]
 [116795.72 139000.  ]
 [138439.17 135000.  ]
 [266626.31 240000.  ]
 [122783.78 112000.  ]
 [148459.06 134000.  ]
 [317406.03 316600.  ]
 [194591.89 170000.  ]
 [ 99244.49 116000.  ]
 [319840.94 306000.  ]
 [114517.84  82500.  ]
 [166573.53 175000.  ]
 [ 91098.91 106000.  ]
 [195375.44 194000.  ]
 [156237.31 194201.  ]
 [144350.66 155900.  ]
 [139152.92 138000.  ]
 [158247.78 177000.  ]
 [206067.53 214000.  ]
 [134397.92 148000.  ]
 [122380.07 127000.  ]
 [146217.47 142500.  ]
 [ 54961.5   80000.  ]
 [131771.28 145000.  ]
 [165679.06 171000.  ]
 [118505.39 122500.  ]
 [143584.02 139000.  ]
 [180580.45 189000.  ]
 [114588.14 120500.  ]
 [118338.67 124000.  ]
 [149938.02 160000.  ]
 [188850.72 200000.  ]
 [135088.12 160000.  ]
 [307452.16 313000.  ]
 [252428.98 275000.  ]
 [ 55305.22  67000.  ]
 [159305.7  159000.  ]
 [279156.   251000.  ]
 [ 94597.54  92900.  ]
 [ 96714.65 109500.  ]
 [273611.91 385000.  ]
 [231964.44 129000.  ]
 [182578.78  82500.  ]
 [274748.94 301000.  ]
 [256145.84 249700.  ]
 [ 78052.37  81000.  ]
 [198161.52 187500.  ]
 [150480.94 110000.  ]
 [134948.73 117000.  ]
 [124930.51 128500.  ]
 [194890.59 213490.  ]
 [234260.34 284000.  ]
 [254168.22 230500.  ]
 [219593.81 190000.  ]
 [135226.95 135000.  ]
 [158248.55 152000.  ]
 [ 94597.54  87500.  ]
 [160742.53 155000.  ]
 [ 86859.05 115000.  ]
 [136547.69 144000.  ]
 [240643.14 248000.  ]
 [119330.03 132500.  ]
 [131701.75 136000.  ]
 [111643.25 117000.  ]
 [ 92741.91  82000.  ]
 [168117.77 157500.  ]
 [126563.73 110000.  ]
 [195583.45 181000.  ]
 [208035.27 192500.  ]
 [205918.28 223500.  ]
 [169091.39 181500.  ]
 [170989.44 170000.  ]
 [216090.69 187500.  ]
 [188078.2  185900.  ]
 [117130.63 160000.  ]
 [194792.36 192000.  ]
 [174683.86 181900.  ]
 [271212.75 266000.  ]
 [ 85766.51  99900.  ]
 [435250.94 438780.  ]
 [249924.38 229456.  ]
 [236969.06 216837.  ]
 [115383.11 110500.  ]
 [233796.69 175900.  ]
 [366459.81 538000.  ]
 [205875.62 160000.  ]
 [203520.55 172500.  ]
 [113293.81 108000.  ]
 [119057.32 131500.  ]
 [108813.88 106250.  ]
 [471462.16 385000.  ]
 [330419.81 370878.  ]
 [455863.88 345000.  ]
 [ 68963.02  68500.  ]
 [234244.55 250000.  ]
 [299089.94 245350.  ]
 [130752.09 125000.  ]
 [222670.25 234000.  ]
 [127503.46 145000.  ]
 [194348.86 181000.  ]
 [122184.54 104000.  ]
 [226919.48 233000.  ]
 [244509.81 164000.  ]
 [190264.17 219500.  ]
 [234321.47 195000.  ]
 [121971.87 108000.  ]
 [140556.34 149900.  ]
 [418283.03 315000.  ]
 [162439.91 177500.  ]
 [150514.17 140000.  ]
 [189033.83 193879.  ]
 [161287.47 137900.  ]
 [113975.47 118000.  ]
 [274280.   324000.  ]
 [591257.5  555000.  ]
 [127232.27 136000.  ]
 [ 73106.91  82500.  ]
 [ 96070.02 101000.  ]]

## Evaluating the Model Performance

In [9]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8772459102377688